<html>

	<head>
 	<title>Register and Login</title>
  		<link href = "/css/login_register.css" rel="stylesheet" type="text/css">
    	<script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
	</head>

  <body>
      {{{ body }}}
  </body>

	<script>
		$('.login-message a').click(function(){
		$('form').animate({height: "toggle", opacity: "toggle"}, "slow");
		});
	</script>
</html>