body{
    background-image: linear-gradient(110.0125915868897deg, rgba(1, 96, 186,1) 6.140625%,rgba(0, 0, 0,1) 95.51562499999999%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

/* BODY AND CONTENTS ANIMATION */
@keyframes yourAnimation{
	0%{ transform: scale(0.3);} 
	100%{ transform: scale(1);} 
} 

body{ animation: yourAnimation 1s 1 0s ease-in-out;  }

/* 3 ANIMATED BUTTONS */
.cont {
    width:40%;
    bottom: 15px;
    left: 0px;
    display:flex;
    position:absolute;
}

.cont .box {
    position:relative;
    width:300px;
    height:100px;
    box-sizing:border-box;
    text-align:center;
    margin:0 10px;
    background:#00171d;
    overflow:hidden;
    border-radius:50%;
    box-shadow:0 0 0 2px rgba(0,7,10,1);
}

.cont .box .icon {
    width:100%;
    height:100%;
    background:#00171d;
    transition: 0.5s;
}

.cont .box .icon .fa {
    font-size: 4em;
    line-height:100px;
    color: #0ff;
}

.cont .box:hover .icon {
    transform:scale(2);
}

.cont .box .details {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:red;
    transition:1s;
    transform:scale(2);
    opacity:0;
}

.cont .box:hover .details {
    transform:scale(1);
    opacity:1;
}

.cont .box .details h3 {
    margin:0;
    padding:0;
    line-height:100px;
    font-size:14px;
    color:#fff;
}

.cont .box .details .smaller {
    font-size:10px;
}