@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar{
  background: rgba(226, 226, 215, 1.0);
  background: -webkit-linear-gradient(bottom, rgba(226, 226, 215, 1.0), rgba(10, 16, 15, 1.0));
  background: -moz-linear-gradient(bottom, rgba(226, 226, 215, 1.0), rgba(10, 16, 15, 1.0));
  background: linear-gradient(to top, rgba(226, 226, 215, 1.0), rgba(10, 16, 15, 1.0));
}

.navbar a{
color: #111;
}

.navbar li :hover{
  color: white;
  background-color: red;
}