<div class="container">
    <form method="POST" action="/change/pass">
    <input type="text" name="password" placeholder="Old Password"/>
    <input type="text" name="password2" placeholder="New Passowrd"/>
    <input type="submit" class="btn" value="Change password"></input>
    </form>
</div>