<!--contact-->
<div class="container">  
    <form id="contact" action="/contact" method="post">
      <h3>Fit IT Contact Form</h3>
      <h4>Email us for more information</h4>
        <input placeholder="Subject" type="text" name="Subject" tabindex="1" required>
      <fieldset>
        <textarea placeholder="Type your message here...." name="Message" tabindex="2" required></textarea>
      </fieldset>
      <fieldset>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
      </fieldset>
      <button type="button" onclick="location.href='http://localhost:3000/home';" id="contact-submit1">Back to Hompage</button>
    </form>
</div>