<div class="container">
    <form method="POST" action="/forgot/pass">
    <input type="text" name="email" placeholder="Type your email here"/>
    <input type="text" name="username" placeholder="Type your username here"/>
    <input type="submit" class="btn" value="Change password"></input>
    </form>
</div>